<div class="navbar-side">
	<%= link_to "Cadastrar anuncio", new_advertise_product_path, class: "btn-sidebar-#{current_page?(new_advertise_product_path)}" %>
	<% if current_user.active? %>
		<%= link_to image_tag('profile.svg'), account_user_path(current_user), class: "btn-sidebar-#{current_page?(account_user_path(current_user))}" %>
	<% else %>
		<%= link_to image_tag('profile.svg'), edit_account_user_path(current_user), class: 'btn-sidebar-false' %>
	<% end %>
	<% if user_signed_in?  %>
		<%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn-sidebar-false" %>
	<% end %>
</div>