<div class="container stretch">
  <div class="form-register item-interest">
    <div class="side-left interest">
      <%= "#{@product.interested_amount}/#{@product.amount} Interessados"  %>
    </div>
  </div>

  <div class="item-interest">
    <div class="side-right">
      <%= link_to image_tag('join.svg', size: "130"), join_advertise_product_path(@product) %>
      <div class="interest">
        Participar da Lista
      </div>
    </div>
  </div>
</div>
</div>
